<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ejercicio1">
      <ion-icon name="play-circle"></ion-icon>
      EJER 1
    </ion-tab-button>
    <ion-tab-button tab="ejercicio2">
      <ion-icon name="radio"></ion-icon>
      EJER 2
    </ion-tab-button>
    <ion-tab-button tab="ejercicio3">
      <ion-icon name="library"></ion-icon>
      EJER 3
    </ion-tab-button>
    <ion-tab-button tab="ejercicio4">
      <ion-icon name="search"></ion-icon>
      EJER 4
    </ion-tab-button>
    <ion-tab-button tab="ejercicio5">
      <ion-icon name="search"></ion-icon>
      EJER 5
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

